@import "tailwindcss";
@import "@dex/theme/tokens.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
